In [2]:
class Dog:
    kind  = 'Golden Retriever'

    def __init__(self,name):
        self.name = name

In [4]:
d1 = Dog('Scooby')
d2 = Dog('Tuffy')

In [6]:
d2.kind = 'Beagle'

In [10]:
d1.kind, d2.kind, Dog.kind

('Golden Retriever', 'Beagle', 'Golden Retriever')

In [12]:
# this only happens for immutable data. Mutable data (lists,sets, dictionaries) will behave differently

In [4]:
class Dog:
    skills = []
    def __init__(self,name):
        self.name = name
    def teach_skill(self,skill_name):
        self.skills.append(skill_name)

In [6]:
d1 = Dog('Scooby')
d2 = Dog('Tuffy')
d3 = Dog('Charlie')

In [8]:
d1.teach_skill('jump')

In [10]:
d1.skills, d2.skills, d3.skills

(['jump'], ['jump'], ['jump'])

In [17]:
Dog.skills

['jump']

In [20]:
# for mutable data structures, original value will be changed

In [22]:
d2.teach_skill('sit')

In [24]:
d1.skills, d2.skills, d3.skills , Dog.skills

(['jump', 'sit'], ['jump', 'sit'], ['jump', 'sit'], ['jump', 'sit'])

In [12]:
# example
class A:
    print('Am I a class?')
A()

obj1 = A()

if A():
    print(A())

# How many objects would be created by running the following code

Am I a class?
<__main__.A object at 0x0000021E6404F2C0>

In [165]:
# whenever a class is called, an object gets created - 1
# obj1 also creates an object - 2
# in if  A()  - 3
# print ( A()) - 4 

# 4 times

In [167]:
6 + 5

11

In [36]:
'6' + '5'

'65'

In [38]:
# same operator does different operation based on datatype
# Dunders!

In [55]:
class Car:
    def __init__(self,name,mileage):
        self.name = name
        self.mileage = mileage

In [57]:
c1 = Car('Nexon',12)
c2 = Car('Altroz',13)

In [59]:
#c1 + c2 # error

In [61]:
print(c1)
# name --> mileage

<__main__.Car object at 0x0000021E639CF290>

In [65]:
#c1< c2 # error

In [67]:
class Car:
    def __init__(self,name,mileage):
        self.name = name
        self.mileage = mileage
        
    # __str__ dunder to modify printing behavior
    def __str__(self):
        return f'{self.name} --> {self.mileage}'
    
    # __add__ dunder to modify addition behavior
    def __add__(self,other):
        return self.mileage + other.mileage

    # __lt__ dunder to modify less than operator behavior
    def __lt__(self, other):
        return self.mileage < other.mileage

In [69]:
c1 = Car('Nexon',12)
c2 = Car('Altroz',13)

In [71]:
print(c1)

Nexon --> 12

In [73]:
c1 + c2  # Car.__add__(c1,c2)

25

In [75]:
c1 < c2  # Car.__lt__(c1,c2)

True

In [79]:
class BankAccount:
    def __init__(self, amount):
        self.balance = amount
    def withdraw(self, amount):
        self.balance -= amount
    def deposit(self,amount):
        self.balance += amount

In [81]:
b1 = BankAccount(10000)

In [83]:
b1.balance

10000

In [85]:
b1.deposit(5000)

In [87]:
b1.balance

15000

In [89]:
b1.withdraw(15000)

In [91]:
b1.balance

0

In [93]:
b1.balance = 1234695630475108341507396134687136491734091730471034170417390713

In [95]:
b1.balance

1234695630475108341507396134687136491734091730471034170417390713

In [135]:
class BankAccount:
    def __init__(self, amount):
        # adding two underscores before the variable make them private
        self.__balance = amount
        # instead of using balance / __balance as variable name
        # it uses a special name -> _BankAccount__balance --> _ClassName__variablename
    
    def withdraw(self, amount):
        self.__balance -= amount
        # whenever __balance is accessed internally, __BankAccount is added before the variable name automatically
    
    def deposit(self,amount):
        self.__balance += amount
    def show_balance(self):
        return self.__balance

In [137]:
b1 = BankAccount(10000)

In [2]:
#b1.__balance # python does not do the same behavior when accessed using objects

In [141]:
# b1.balance  # error
# a private property can only be accessed by methods inside the class
# It cannot be directly accessed by the object

In [143]:
b1.show_balance()

10000

In [145]:
b1.deposit(20000)
b1.withdraw(2000)

In [147]:
b1.show_balance()

28000

In [149]:
b1.balance= 100000

In [151]:
# dir(b1)

In [153]:
# b1._BankAccount__balance

In [155]:
b1._BankAccount__balance = 100000
b1._BankAccount__balance

100000

In [157]:
b1.show_balance()

100000

In [159]:
# Example
class Bill:
    def __init__(self, prev_read,cur_read):
        self.prev_read = prev_read
        self.cur_read = cur_read
        self.unit_consumed = self.cur_read - self.prev_read
    def total_bill(self):
        total = 0.0
        meter_charges = 150

        if self.unit_consumed <= 100:
            total =  self.unit_consumed * 3.5 + meter_charges
        elif self.unit_consumed <= 200:
            total = 100 * 3.5 + (self.unit_consumed - 100 ) * 5
        else:
            total = 100 * 3.5 + (self.unit_consumed - 200) * 8
        return total

In [161]:
b = Bill(10,200)
b.total_bill()

800.0

In [31]:
abc = {}
abc[1] = 1
abc

{1: 1}

In [33]:
abc['1'] = 2
abc

{1: 1, '1': 2}

In [35]:
abc[1]  = abc[1] + 1
abc

{1: 2, '1': 2}

In [4]:
# Procedural Programming
# variables -- a,b,c
# functions -- f1() , f2(). f3()
# as complexity increases, they will be dependent on each other
# it becomes difficult to maintain them later
# such code is called spaghetti code

In [ ]:
# to handle it, i will create different classes with those functions and relevant variables
# it is called as encapsulation
#

# Encapsulation

In [6]:
base_salary = 10000
overtime = 10
rate = 20

def calculate_salary(base_salary,overtime,rate):
    return base_salary + (overtime * rate)

In [8]:
calculate_salary( base_salary,overtime,rate)

10200

In [10]:
class Salary:
    def __init__(self,base_salary,overtime,rate):
        self.base_salary = base_salary
        self.overtime =  overtime
        self.rate = rate
    def calculate_salary(self):
        return self.base_salary + (self.overtime * self.rate)

In [12]:
e = Salary(10000,10,20)
e.calculate_salary()

10200

# abstraction

In [40]:
class Salary:
    def __init__(self,base_salary,overtime = 0,rate = 100):
        self.base_salary = base_salary
        self.overtime =  overtime
        self.rate = rate
    def update_overtime(self,overtime):  # used 
        self.overtime = overtime
        
    def calculate_salary(self):  # hidden
        self.total_salary = self.base_salary + (self.overtime * self.rate)
        return self.total_salary
        
    def check_total_salary(self):  # used
        return self.calculate_salary()

In [42]:
e1 = Salary(10000)
e1.update_overtime(5)

In [44]:
e1.check_total_salary()

10500

In [75]:
class Salary:
    def __init__(self,base_salary,overtime = 0,rate = 100):
        self.__base_salary = base_salary
        self.overtime =  overtime
        self.__rate = rate
    def update_overtime(self,overtime):  # used 
        self.overtime = overtime
        
    def __calculate_salary(self):  # hidden # we can functions private
        self.total_salary = self.__base_salary + (self.overtime * self.__rate)
        return self.total_salary
        
    def check_total_salary(self):  # used
        return self.__calculate_salary()

In [77]:
e1 = Salary(10000)

In [83]:
e1.update_overtime(5)

In [85]:
e1.check_total_salary()

10500

In [92]:
# school managaement system -- name,age is common for all
# staff - salary, jobtitle are specific to staffs , students -grade, roll_no
# teacher - subject, support staff in staffs

# Inheritance

In [51]:
class SchoolMember:
    def __init__(self,name,age):
        print(f'inside schoolmember --> {id(self)}')
        self.name = name
        self.age = age
        
class Student(SchoolMember):
    def __init__(self,name, age, grade,hobby):
        ''' This is doc string'''
        print(f'inside student --> {id(self)}')
        self.grade = grade
        self.hobby = hobby
        
        super().__init__(name,age)  # super refers to schoolmember class

In [53]:
s = Student('Pavan',23,'A','Reading')

inside student --> 2149998149952
inside schoolmember --> 2149998149952

In [47]:
s.grade

'A'

In [31]:
s.hobby

'Reading'

In [35]:
s.name

'Pavan'

In [37]:
s.age

23

In [64]:
# using schoolmember and self instead of super
class SchoolMember:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def hello(self):
        print(f'Hello, my name is {self.name}')
        
class Student(SchoolMember):
    def __init__(self,name, age, grade,hobby):
        self.grade = grade
        self.hobby = hobby
        
        SchoolMember.__init__(self,name,age)  # super refers to schoolmember class

    def hello(self):
        print(f'Hello,My name is {self.name} and I am {self.age} years old')
        
class Staff(SchoolMember):
    def __init__(self,name, age, salary,job_title):
        self.salary = salary
        self.job_title = job_title

        super().__init__(name,age)

In [70]:
s = Student('Pavan',29,'A','Reading')
s.grade

'A'

In [72]:
s.hello()  # function defined in parent class will also be inherited in child class

Hello,My name is Pavan and I am 29 years old

In [74]:
staff1 = Staff('kiran',35,40000, 'Admin')
staff1.name

'kiran'

In [163]:
staff1.age

35

In [76]:
staff1.salary

40000

In [78]:
staff1.job_title

'Admin'

In [82]:
staff1.hello()

Hello, my name is kiran

In [84]:
# Multiple inheritance
class A:
    def __init__(self,x,y):
        self.__x = x        # private variables are not inherited
        self.y = y
class B(A):
    def __init__(self,x,y,z):
        self.z = z

        super().__init__(x,y)
    def result(self):
        print(f'x --> {self.__x}, y --> {self.y}, z --> {self.z}')

In [86]:
random = B(10,20,30)

In [90]:
# random.x

In [92]:
random.y, random.z

(20, 30)

In [96]:
#random.result()

In [98]:
# Multiple inheritance
class A:
    def __init__(self,x,y):
        self._x = x        # protected variables are inherited
        self.y = y
class B(A):
    def __init__(self,x,y,z):
        self.z = z

        super().__init__(x,y)
    def result(self):
        print(f'x --> {self._x}, y --> {self.y}, z --> {self.z}')

In [100]:
random = B(10,20,30)
random._x , random.y, random.z

(10, 20, 30)

In [102]:
random.result()

x --> 10, y --> 20, z --> 30