In [1]:
print("Hello World")

Hello World

In [2]:
Name =input("What is your name?")

What is your name?Pavan

In [3]:
print("Welcome to CU",Name)

Welcome to CU Pavan

In [4]:
print("0     ")
print("|     ")
print("|_____")
print(" |||||")
print(" |||||")

0
|
|_____
 |||||
 |||||

In [5]:
print("$"*10)

$$$$$$$$$$

## Variables

In [6]:
var1 = "Mike"
print(var1)

Mike

In [7]:
var2 = 6
print(var2)

6

In [8]:
var3 = 4.5
print(var3)

4.5

In [9]:
number = input("What's your favourite number?")

What's your favourite number?5

In [10]:
print(number)

5

In [11]:
name = input("What's your name?")
print("Welcome",name)

What's your name?Pavan
Welcome Pavan

In [12]:
age = input("Enter your age: ")  # we get string output from input
age = int(age)                   # typecasting
print("You are",age*12,"months old")

Enter your age: 25
You are 300 months old

In [13]:
integer = 1
floating = 1.2
string = "Mike"
boolean = True

In [14]:
type(integer)

int

In [15]:
type(floating)

float

In [16]:
type(string)

str

In [17]:
type(boolean)

bool

### typecasting

In [18]:
a = 1   #integer
print(bool(a))
print(float(a))
print(str(a))

True
1.0
1

## Arithmetic Operations

In [19]:
a = 16
b = 7
print("Addition =",a+b)
print("Subtraction =",a-b)
print("Multiplication =",a*b)
print("Division =",a/b)

Addition = 23
Subtraction = 9
Multiplication = 112
Division = 2.2857142857142856

In [20]:
print("Floor Division =",a//b)

Floor Division = 2

In [21]:
print("Modulus or remainder =",a%b)

Modulus or remainder = 2

In [22]:
print("Exponential =",a**b)

Exponential = 268435456

In [23]:
# PEDMAS - Parenthesis, Exponential, Division, Multiplication, Addition and Subtraction

In [24]:
print((4+6)-6+6/3)

6.0

## String Operations

In [25]:
a = "Pavan"
b = 'sai'
c = 'Welcome'
print(c,a,b)

Welcome Pavan sai

In [26]:
print('I don\'t know')  # use backslash to ignore
print("I don't know")

I don't know
I don't know

In [27]:
print("Hi bob,\nHow are you?") # \n for new line

Hi bob,
How are you?

## String Concatenation

In [28]:
flavour = input("What flavour would you like?")

What flavour would you like?Vanilla

In [29]:
dessert_type = input("What type of dessert do you like?")

What type of dessert do you like?ice cream

In [31]:
print("You have entered",flavour+" "+dessert_type)

You have entered Vanilla ice cream

## indexing in strings

In [4]:
string = "I have not failed. I've found 10,000 ways that won't work. - Thomas A. Edison"
len(string)

77

In [5]:
#starts with 0
#reverse indexing starts with -1
# strings are immutable, they cannot be changed once created
# they can be modified by slicing

In [6]:
string[0]

'I'

In [7]:
string[5]

'e'

In [8]:
string[-1]

'n'

In [9]:
string[-2]

'o'

In [10]:
#string[2] = 't' ## we cant change value in string

In [11]:
# slicing
# string(start:end:step)
print(string[0:77])

I have not failed. I've found 10,000 ways that won't work. - Thomas A. Edison

In [12]:
string[:77]

"I have not failed. I've found 10,000 ways that won't work. - Thomas A. Edison"

In [13]:
print(string[2:])

have not failed. I've found 10,000 ways that won't work. - Thomas A. Edison

In [14]:
print("found" in string) #searching for particular word

True

## String Methods

In [16]:
#upper
string
string.upper()

"I HAVE NOT FAILED. I'VE FOUND 10,000 WAYS THAT WON'T WORK. - THOMAS A. EDISON"

In [17]:
#lower
print(string.lower())

i have not failed. i've found 10,000 ways that won't work. - thomas a. edison

In [21]:
#rstrip - strips right spaces
sentence = "my name is rahul   "
len(sentence)
# sentence.rstrip()
# len(sentence.rstrip())

16

In [24]:
#rstrip with specific character
sentence = "my name is rahul aaa"
sentence.rstrip('a')
len(sentence.rstrip('a'))

17

In [25]:
# strip()
stmt = "  trim spaces   "
stmt.strip()

'trim spaces'

In [27]:
# with both lstrip and rstrip
numwithchars = '*******444$$$$$$$'
numwithchars.rstrip('$').lstrip('*')

'444'

In [28]:
string = 'This is a sample sentence'
string.count('i')

2

In [29]:
#with starting number
string.count('i',5)

1

In [33]:
A = 'Data'
B = 'Analysis'
C = 'Pandas'
print(A,B,C)

Data Analysis Pandas

In [36]:
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [39]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [40]:
name = input("What is your name: ")
number = input("what is your number: ")
print(name,number)

What is your name: Pavan
what is your number: 5
Pavan 5

In [41]:
from random import seed
from random import randint
value = randint(100,999)
value

967

In [42]:
print(name, number, value)

Pavan 5 967

## Data Structures

In [38]:
# Tuples, lists, Dictionaries, Sets

#### Lists
- Lists are an ordered sequence of mixed datatypes
- Lists are written as comma seperated elements within square brackets

In [43]:
list1 = [name,number,value]
list1

['Pavan', '5', 967]

In [44]:
L =['India',23,6,'Mumbai']
L

['India', 23, 6, 'Mumbai']

In [46]:
#Nested list
L = ['Chemistry','Biology',[1994,2004],4]
L

['Chemistry', 'Biology', [1994, 2004], 4]

In [47]:
#indexing
L[0]

'Chemistry'

In [48]:
L[1]

'Biology'

In [49]:
L[2]

[1994, 2004]

In [50]:
L[2][0]

1994

In [51]:
L[-1]

4

In [52]:
L[-2][0]

1994

In [53]:
L[1:3] #upper bound is not included

['Biology', [1994, 2004]]

In [56]:
#membership in lists
L1 = [1,2,3,4]
print(1 in L1)  #whether exists or not
print(20 in L1)

True
False

In [58]:
#list concatenation
L

['Chemistry', 'Biology', [1994, 2004], 4]

In [59]:
newL = L+[5,8]
newL

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8]

In [62]:
L[1] = 'Physics'
L

['Chemistry', 'Physics', [1994, 2004], 4]

In [65]:
#extend()
L.extend([5,8])
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8, 5, 8]

In [66]:
#append()
L.append([5,8])  # it adds the list and add it directly to original list
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8, 5, 8, [5, 8]]

In [67]:
# del command
del L[-1] #delete last item

In [68]:
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8, 5, 8]

In [72]:
del L[0:2]
L

[[1994, 2004], 4, 5, 8, 5, 8]

In [73]:
L = ['Chemistry','Biology',[1994,2004],4]
L.pop()  #pop will use last element

4

In [74]:
L

['Chemistry', 'Biology', [1994, 2004]]

In [75]:
L.remove('Biology')
L

['Chemistry', [1994, 2004]]

In [76]:
#sorting lists
L = [32,24,1,3,8]
L.sort()
L

[1, 3, 8, 24, 32]

In [77]:
L.sort(reverse=True)

In [78]:
L

[32, 24, 8, 3, 1]

#### difference between sort and sorted

In [79]:
A = ['Orange','Strawberry','Mango']
A

['Orange', 'Strawberry', 'Mango']

In [87]:
B = A.sort()  #this will change original list
print(B) # but A is sort
A

None

['Mango', 'Orange', 'Strawberry']

In [88]:
A = ['Orange','Strawberry','Mango']
C = sorted(A)
print(A)
print(C)   #sorted will not change original list

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shadow Copying

In [89]:
A = ['Orange','Strawberry','Mango']
B = A
print(A,B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [90]:
A[0] = 'Apple'
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [91]:
A = ['Orange','Strawberry','Mango']
B = A[:]
print(A,B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [92]:
A[0] = 'Apple'
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

### Tuples
- Tuples are ordered sequence of mixed data types
- written in parenthesis
- they are immutable

In [93]:
t = ('disco',12,4.5)
t

('disco', 12, 4.5)

In [94]:
type(t)

tuple

In [95]:
sample = 1,2,3,4
print(sample)

(1, 2, 3, 4)

In [96]:
#single value tuple
sample = 1,
print(sample)

(1,)

In [97]:
# sample = 1 # it is not a tuple

In [99]:
sample = (1)
print(sample) #this is not tuple
type(sample)

1

int

#### indexing

In [100]:
t = ('Pavan',58,'Python')
t

('Pavan', 58, 'Python')

In [101]:
t[1]

58

In [102]:
t[-1]

'Python'

#### slicing

In [103]:
t = ('Mumbai',58,"Python",5,2,1)
t[0:3]

('Mumbai', 58, 'Python')

In [104]:
t[-2:]

(2, 1)

In [105]:
len(t)

6

#### Concatenation

In [108]:
t1 = ("This",'is','basics')
t2 = ('of','Python')
t3 = t1 + t2
t3

('This', 'is', 'basics', 'of', 'Python')

In [109]:
# sum, max, min
t = (2,4,10,4,-1)
min(t)

-1

In [110]:
max(t)

10

In [111]:
sum(t)

19

In [115]:
# t = (2,4,'Python',4,-1)
# min()# it gives error because it has different data type

#### Immutability

In [118]:
t

(2, 4, 'Python', 4, -1)

In [120]:
# t[0] = 4 # it throws error because it is immutable

In [121]:
newt = t[0:3]+("Hardrock",) +t[4:] # replacing using concatenation
newt

(2, 4, 'Python', 'Hardrock', -1)

#### sorting

In [122]:
t = (2,3,5,10,-1)
t

(2, 3, 5, 10, -1)

In [125]:
x = sorted(t)
x
y = tuple(x)
y

(-1, 2, 3, 5, 10)

#### Nested

In [126]:
t = (1,5,'Python',('Python','Java'))
t

(1, 5, 'Python', ('Python', 'Java'))

In [127]:
t[3][1]

'Java'

#### Packing and unpacking

In [128]:
t = (1,2,3,4) #packing
t

(1, 2, 3, 4)

In [131]:
(a,b,c,d) =t #unpacking
c

3

In [ ]:
(a,b,c,d) =t # this will throw error

In [133]:
t = ()

In [136]:
# view the methods or attributes of an object
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

 #### Sets

In [137]:
# unordered, does not allow duplication, and in curly brackets

In [142]:
#mutable
l = [1,3,2,4,5,5]
type(l)

list

In [143]:
l = set(l)
l

{1, 2, 3, 4, 5}

In [144]:
type(l)

set

In [145]:
len(l)

5

In [147]:
l.add('Australia')
l

{1, 2, 3, 4, 5, 'Australia'}

In [148]:
l.remove('Australia')
l

{1, 2, 3, 4, 5}

In [149]:
a = {0,2,4,6,8}
b = {1,2,3,4,5}
print(a,b)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [150]:
print(a|b) #union

{0, 1, 2, 3, 4, 5, 6, 8}

In [151]:
print(a.union(b))

{0, 1, 2, 3, 4, 5, 6, 8}

In [154]:
print(a & b) #intersection
print(a.intersection(b))

{2, 4}
{2, 4}

In [156]:
print(a-b) #difference
print(a.difference(b))

{0, 8, 6}
{0, 8, 6}

In [157]:
print(a^b) #symmetric difference

{0, 1, 3, 5, 6, 8}

#### Dictionaries

In [2]:
# key value pairs
# unique and immutable
# values are accessed using keys
# values are immutable . mutable and duplicates
# seperated by comma and use curly brackets

In [3]:
d = {'India':'INR','USA':'USD','France':'Euro'}

In [4]:
d

{'India': 'INR', 'USA': 'USD', 'France': 'Euro'}

In [5]:
type(d)

dict

In [6]:
len(d)

3

In [7]:
d['India']

'INR'

In [8]:
d['USA'] = '$'
d

{'India': 'INR', 'USA': '$', 'France': 'Euro'}

In [9]:
d['Japan'] = 'Yen'

In [10]:
d

{'India': 'INR', 'USA': '$', 'France': 'Euro', 'Japan': 'Yen'}

In [11]:
del d['France']

In [12]:
d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [13]:
sorted(d)

['India', 'Japan', 'USA']

In [14]:
d = {'India':'INR','USA':'USD','France':'Euro'}
d.values()

dict_values(['INR', 'USD', 'Euro'])

In [15]:
d.keys()

dict_keys(['India', 'USA', 'France'])

In [16]:
d.update({'USA':'$'})
d

{'India': 'INR', 'USA': '$', 'France': 'Euro'}

In [17]:
10==10 #= is assignment operator, == is relational operator
!=   # not equal to
>= #greater than equal to
<= #less than equal to

True

#### Decision Making

In [18]:
x = 45
if x<99:
    print(x,"is less than 99")
else:
    print(x,"is greater than 99")

45 is less than 99

In [19]:
x = 450
if x<99:
    print(x,"is less than 99")
else:
    print(x,"is greater than 99")

450 is greater than 99

In [20]:
# logical AND,OR,NOR,XOR

#### write a program to record the age of visitor and allows him to an exclusive childrens day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [23]:
x = int(input("Enter your age: "))
if x<=18 or x>=60:
    print("Welcome to party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

Enter your age: 17
Welcome to party!!

#### write a program which offers various discounts based on purchase bills

In [30]:
shoptotal = 200
if shoptotal >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoptotal >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoptotal >= 100:
    print("You won a discount voucher of flat 100 on next purchase")
else:
    print("OOPS! no discount for you!!!")

You won a discount voucher of flat 100 on next purchase

#### Example on nested if else

In [31]:
world_cups = {2019:['England','New-Zealand'],2015:['Australia','New-Zealand'],2011:['India','Sri Lanka']}

In [32]:
world_cups.keys()

dict_keys([2019, 2015, 2011])

In [33]:
world_cups[2019]

['England', 'New-Zealand']

In [34]:
year = int(input("Enter year to check new-zealand made it to finals in 20th century:"))

Enter year to check new-zealand made it to finals in 20th century:2015

In [35]:
year

2015

In [38]:
if year in world_cups:
    if "New-Zealand" in world_cups[year]:
        print("Yes, newzealand made it to final")
    else:
        print("No, newzealand did not made it to final")
else:
    print("World cup is not played")

Yes, newzealand made it to final

#### Loops and iterations

In [41]:
# Lets create a pin checker which we generally have in our phones or ATMs
pin =input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')
print("Pin validation successful")

Enter your four digit pin: 1234
Pin validation successful

In [42]:
# now if we want to add a maximum number of tries allowed condition we'll use the if loop
import sys #required for exiting the code and displaying error
pin = input("Enter your four digit pin: ")
attemptcount = 1
while pin != '1234':
    if attemptcount >= 3:
        sys.exit("Too many invalid attempts")  #error code
    pin = input("Invalid input, please try again: ")
    attemptcount += 1
print("Pin validation successful.")

Enter your four digit pin: 123
Invalid input, please try again: 123
Invalid input, please try again: 123

SystemExit: Too many invalid attempts

C:\Users\MarchettyPavanSai\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3452: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [1]:
l = [1,2,3,4,5]
for var in l:
    print(var)

1
2
3
4
5

In [2]:
string = 'London'
for char in string:
    print(char)

L
o
n
d
o
n

In [4]:
string = 'London'
for char in string:
    print(char,end =":") #default is \n

L:o:n:d:o:n:

In [5]:
#dictionary
data = {1:['sam',24],2:['Rob',25],3:['Jack',26],4:['cornor',24],5:['trump',27]}

In [8]:
data

{1: ['sam', 24],
 2: ['Rob', 25],
 3: ['Jack', 26],
 4: ['cornor', 24],
 5: ['trump', 27]}

In [11]:
# iterating over a dictionary
for key, val in data.items():
    print(key,val)

1 ['sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['cornor', 24]
5 ['trump', 27]

In [16]:
for key in data.keys():
    print(key)

1
2
3
4
5

In [17]:
for val in data.values():
    print(val)

['sam', 24]
['Rob', 25]
['Jack', 26]
['cornor', 24]
['trump', 27]

In [19]:
range(1,5)

range(1, 5)

In [20]:
l = list(range(1,6)) #cast the range to list to use
l

[1, 2, 3, 4, 5]

In [21]:
for i in l:
    print(i)

1
2
3
4
5

In [22]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [23]:
print(list(range(1,100,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [24]:
print(list(range(100,0,-2)))

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [31]:
#write a program to print prime numbers between 1 t0 20

for n in range(1,20):
    flag = True
    for i in range(2,n):
        if n%i == 0:
            print(n,"is not prime",i)
            flag = False
            break
    # whether to print(i)or not
    if flag == True: #n  is prime
        print(n,"is prime")

1 is prime
2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

#### Comprehensions

In [39]:
l1 = ['automobile','Honda','Benz','Suzuki','Morris']
l1

['automobile', 'Honda', 'Benz', 'Suzuki', 'Morris']

In [40]:
l2 = []
for word in l1:
    l2.append(len(word))
l2

[10, 5, 4, 6, 6]

In [41]:
l2 = [len(word) for word in l1]
l2

[10, 5, 4, 6, 6]

In [42]:
for i,j in zip(l1,l2):
    print(i," - ",j)

automobile  -  10
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris  -  6

#### dictionary comprehension

In [44]:
l1 = ['automobile','Honda','Benz','Suzuki','Morris']
d = {word:len(word) for word in l1}
d

{'automobile': 10, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris': 6}

#### set comprehension

In [48]:
# write a program which takes a word as input from user and returns vowels in it
word = input("Enter a word: ")

Enter a word: elegant

In [49]:
for char in word:
    if char in "aeiou":
        print(char)

e
e
a

In [50]:
vowels = {char for char in word if char in "aeiou"}
vowels

{'a', 'e'}

In [51]:
word = input("Enter a word: ")
vowels = set()
for char in word:
    if char in "aeiou":
        vowels.add(char)
vowels

Enter a word: Rehman

{'a', 'e'}

#### Functions

In [52]:
#write a function which takes a value as a parameter and return its factorial
# 5! = 5*4*3*2*1
# n! = n*(n-1)*(n-2)...*3*2*1

In [53]:
#simple function format
def factorial(n):
    return 4
factorial(10)

4

In [56]:
n = int(input("Enter the factorial number: "))
def factorial(n):   # n is called positional argument
    fact = 1
    for i in range(1,n+1):
       fact = fact * i   # fact *= i
    return fact
factorial(n)

Enter the factorial number: 3

6

#### functional arguments

In [76]:
def func(name, age = 35):  # default parameter
    print('name:',name)
    print('age:',age)

In [77]:
func('ram',25)

name: ram
age: 25

In [78]:
func('rahul')

name: rahul
age: 35

In [79]:
def func(name, age = 35, city = 'london'):
    print('name:',name)
    print('age:',age)
    print('city:',city)

In [80]:
func('rahul')

name: rahul
age: 35
city: london

In [81]:
func('ram','seattle')

name: ram
age: seattle
city: london

In [82]:
# variable length argument
def varfunc(*args):
    print(args)
varfunc(1,1,'abc')

(1, 1, 'abc')

In [83]:
# lambda  #anonymous functions
t = lambda x:"even" if x%2 ==0 else "odd"
t(10)

'even'

#### Map - filter - reduce

In [84]:
countries = ['India','Japan','Italy','France']
t = lambda x: x.upper()
t('India')

'INDIA'

In [86]:
capital = []
for country in countries:
    capital.append(t(country))

In [87]:
capital

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [89]:
# map takes 2 inputs, function and collection or list over which we want to apply
x= list(map(t,countries))
x

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [90]:
l1 = [2,4,5]
tsquare = lambda x: x**2
list(map(tsquare,l1))

[4, 16, 25]

In [91]:
# defining a function and using it in map
l1 = [2,4,5]
def squareit(n):
    return n**2
list(map(squareit,l1))

[4, 16, 25]

In [95]:
# filter function to return the multiplies of 3
mylist = [3,4,5,6,7,8,9]
divby3 = lambda x :x% 3 == 0
divby3(5)
div = filter(divby3, mylist)
list(div)

[3, 6, 9]

#### Write a python program to count the students above age 18

In [96]:
data = {1:['sam',24],2:['Rob',25],3:['Jack',26],4:['cornor',24],5:['trump',27]}
data

{1: ['sam', 24],
 2: ['Rob', 25],
 3: ['Jack', 26],
 4: ['cornor', 24],
 5: ['trump', 27]}

In [97]:
t = lambda x : x[1] > 18
t(['Rob',25])

True

In [105]:
newlist = list(filter(lambda x: x[1] > 18,data.values()))
newlist

[['sam', 24], ['Rob', 25], ['Jack', 26], ['cornor', 24], ['trump', 27]]

In [106]:
len(newlist)

5

In [107]:
# reduce to return product of elements
from functools import reduce
l = range(1,7)
list(l)

[1, 2, 3, 4, 5, 6]

In [108]:
t = lambda x,y : x*y
t(2,3)

6

In [110]:
q = reduce(lambda x,y : x*y,l)
q

720

In [2]:
# object oriented programming 
# use class to create an object
#defining a class
#length and breadth as attributes
#init() - constructor of class
#self parameter refers to newly created instance of class
#attributes length and breadth are associated with self-keyword to identify them as instance variable

In [3]:
## create the object by calling name of the class followed by parenthesis
## print the values using dot operator

In [4]:
class rectangle:
    def __init__(self):
        self.length = 10
        self.breadth = 5

In [5]:
rect = rectangle()
print('length is',rect.length,'and breadth is',rect.breadth)

length is 10 and breadth is 5

In [6]:
## parameterised constructor, dynamically assign the attribute values during object creation
class rectangle:
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth

In [7]:
rect = rectangle(12,8)
print('length is',rect.length,'and breadth is',rect.breadth)

length is 12 and breadth is 8

In [16]:
# class variables and instance variables
class student:
    teacher = 'Jones' #class variable
    room = '102A'  #class variable 
    def __init__(self, name, age, sub):
        self.name = name  #instance variable
        self.age = age    #instance variable
        self.sub = sub    #instance variable

In [17]:
tom = student('tom',15,'Math')
print(tom.teacher,tom.sub)

Jones Math

In [18]:
susan = student('susan',16,'English')
print(susan.teacher,susan.age)

Jones 16

In [19]:
student.teacher = 'Mr David'

In [20]:
print(tom.teacher,tom.sub)

Mr David Math

#### Adding a method to class

In [21]:
# calculate area () - returns the product of attributes length and breadth.
# self - identifies its association with the instance.

In [11]:
class rectangle:
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth
    def calculate_area(self):
        return self.length*self.breadth

In [12]:
rect = rectangle(10,5)

In [16]:
print(rect.length,rect.breadth,rect.calculate_area())

10 5 50

In [27]:
## class method and static method
class circle:
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
    # instance method
    def calculate_area(self):
        return circle.pi * (self.radius)**2
    #class method - I cannot access radius
    def access_pi(cls):
        pi = 3.1436
        return pi
    def circle_static():
        print('This is circle static method')

In [21]:
cir = circle(5)
print(cir.radius,cir.calculate_area())

5 78.5

In [26]:
circle.access_pi(4)

3.1436

In [28]:
circle.circle_static()

This is circle static method

In [22]:
# Significance of self:
# The attributes length and breadth are associated with an instance.
# Self makes sure that each instance refers to its own copy of attributes.

#### Inheritance and overriding

In [40]:
class shape:
    def set_color(self,color):
        self.color = color
    def calculate_area(self):
        pass
    def color_the_shape(self):
        color_price = {'red':10,'blue':15,'green':5}
        return self.calculate_area() * color_price[self.color]

In [41]:
class circle(shape):
    pi = 3.14
    def __init__(self,radius):
        self.radius = radius
        
    #overriding
    def calculate_area(self):
        return circle.pi * (self.radius)**2

In [42]:
c = circle(5)

In [43]:
c.radius

5

In [44]:
c.calculate_area()

78.5

In [45]:
c.set_color('red')

In [46]:
print(c.pi,c.radius, c.color)

3.14 5 red

In [48]:
c.color_the_shape()

785.0

In [51]:
class rectangle(shape):
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth
    #overriding
    def calculate_area(self):
        return self.length*self.breadth
    #overriding pythod default method
    def __str__(self):
        return 'area of rectangle =  '+ str(self.calculate_area())

In [52]:
r = rectangle(10,5)

In [54]:
r.set_color('blue')
print(r.length, r.breadth, r.color, r.calculate_area())

10 5 blue 50

In [55]:
r.color_the_shape()

750

In [58]:
print(r)

area of rectangle =  50